.pop_up {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 2;
	display: none;
}

.pop_up_container {
	display: flex;
	width: 100%;
	height: 100%;
}

.pop_up_body {
	margin: auto;
	width: 940px;
	height: 375px;
	background-image: url('/image/23february.png'); 
	border-radius: 10px;
	text-align: center;
	padding: 100px 15px 110px 15px;
	position: relative;
}

.pop_up_close {
	position: absolute;
	top: 15px;
	right:15px;
	font-size: 21px;
	cursor: pointer;
}

.active {
	display: block;
	z-index: 30000;
	animation: ani 2.5s forwards;
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.pop_up .active {
	display: none;
}

@media (max-width: 950px) {
	.pop_up_body {
		width: 299px;
		height: 400px;
		background-size: contain;
		background-image: url('/image/23febmob.png'); 
	}
}

@media (max-width: 280px) {
	.pop_up_body {
		width: 237px;
		height: 315px;
		background-size: contain;
		background-image: url('/image/23febmob.png'); 
	}
}

.fontik{
	font-weight: 600;
	font-size: 15px;
}